<% if @status == 200 %>
  $('#post-new').modal('toggle');
  $('.table-body').prepend('<%= j render("post", post: @post) %>');
  $('.modal-list').append('<%= j render("show",post: @post) %>');
  $('.modal-list').append('<%= j render("edit",post: @post) %>');
  $('.show-errors-create').html('');
  $('.post-title').val('');
  $('.post-content').val('');
<% else %>
  $('.show-errors-create').html('');
  <% @post.errors.full_messages.each do |message| %>
    $('.show-errors-create').append('<li><%= message %></li>');
  <% end %>
<% end %>
