.tag-btn {
  height: auto;
  margin-bottom: 10px;
}

.comment {
  margin-left: 20px;
}

.comment-form {
  margin: 10px 15px 0;
}

.edit-content {
  max-width: 700px;
  margin: 0;
}

.post-li {
  background-color: #e6f2ff;
  margin:0 0 20px 0;
  border-radius: 5px;
  padding: 0 0 20px 10px;

  input {
    margin: 10px 0 10px;
    border-radius: 10px;
  }
}

.edit-comment-form {
  margin: 0;
}

.created-at {
  font-size: 11px;
}

.tag-list {
  margin: 0 15px 0 140px;
}

.social-share-button {
  display: inline;
  width: auto;
  margin-right: 15px;
}

.content-comment {
  margin-left: 35px;
  padding-left: 5px;
}

.comment-content-input {
  margin-left: 35px;
  padding-left: 5px;
  margin: 0 !important;
}

.microposts {
  margin: 0;
  padding: 0;
}

.timestamp {
  margin-right: 15px;
}
