.mini-blog-logo {
  color: $orange;
  font-size: 25px;
  font-weight: bold;
}

.mini-blog-logo:hover {
  color: $orange;
  text-decoration: none;
}

.footer {
  background-color: $white;
  bottom: 0;
  color: $black;
  font-size: 15px;

  a {
    color: $blue;
  }
}

.quote-v1 {
  background-color: $light-gray;
  font-size: 20px;
  margin-top: 30px;
  padding: 20px 30px;
  text-align: center;

  .welcome {
    font-weight: bold;
  }
}

.mobi-toggler:hover {
  text-decoration: none;
}

.mobi-toggler {
  border: 1px solid $gray;
  font-weight: bold;
  padding: 5px;
  text-decoration: none;
  width: auto;
}

.btn-orange {
  background-color: $orange;
  color: $white;
}

.alert-notice {
  @include alert-variant($alert-success-bg, $alert-success-border,
    $alert-success-text);
}

li {
  list-style-type: none;
  margin-bottom: 20px;
}

.post-li {
  border-bottom: 1px solid $gray;

  .main-content {
    padding: 10px;
  }
}

.submit-comment,
.update-comment {
  display: none;
}

.search {
  float:right;
  margin-right:  150px;

  input[type="text"] {
    background-color: white;
    background-image: url('search-icon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    border-radius: 4px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
    height: 35px;
    margin: 0;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
    width: 200px;
    -webkit-transition: width 0.4s ease-in-out;
  }

  input[type="text"]:focus {
    width: 500px;
  }

  .submit-search {
    background-color: $orange;
    margin: 0;
  }
}

.home-sidebar {
  margin: 0;

  .home-sidebar-user {
    background-color: $light-orange;
    border-left: 3px solid #ffb999;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 0;

    .stats {
      font-size: 14px;
      margin-left: 20px;
    }
  }

  .avatar-user-list {
    height: 50px;
    margin-left: 5px;
    width: 50px;
  }
}

.post-form-div {
  margin-top: 10px;
  padding: 10px;
}

.user-search-form {
  float: right;
  margin-bottom: 10px;

  input[type="text"] {
    height: 30px;
    padding: 5px 10px;
    width: 75%;
  }

  .submit-search-user {
    background-image: url('search-icon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    height: 30px;
    padding: 5px 10px;
  }
}
