@import 'bootstrap';
@import 'colors';

.mini-blog-logo {
  color: $orange;
  font-size: 25px;
  font-weight: bold;
}

.mini-blog-logo:hover {
  color: $orange;
  text-decoration: none;
}

.footer {
  background-color: $white;
  bottom: 0;
  color: $black;
  font-size: 15px;

  a {
    color: $blue;
  }
}

.quote-v1 {
  background-color: $light-gray;
  font-size: 20px;
  margin-top: 30px;
  padding: 20px 30px;
  text-align: center;

  .welcome {
    font-weight: bold;
  }
}

.mobi-toggler:hover {
  text-decoration: none;
}

.mobi-toggler {
  border: 1px solid $gray;
  font-weight: bold;
  padding: 5px;
  text-decoration: none;
  width: auto;
}

.btn-orange {
  background-color: $orange;
  color: $white;
}

.alert-notice {
  @include alert-variant($alert-success-bg, $alert-success-border,
    $alert-success-text);
}

.current-user-name {
  color: $blue;
}

.avatar-header {
  height: 30px;
  width: 30px;
}
