.user-side-bar {
  background-color: $light-orange;
  margin-top: 50px;
}

.stats a{
  font-size: 12px;
}

.current-user-name {
  color: $blue;
}

.avatar-header {
  height: 30px;
  width: 30px;
}

.avatar-user-list {
  height: 80px;
  margin: 10px;
  width: 70px;
}
